<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>66703317-Cloud Computing</title>
   <style>
   h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    </style>

</head>
<body>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<h1><img src="../stag.png">University of Surrey</h1>
    <h2>Cloud Computing-COMM034</h2>
    <h3>HARIPRASAD REDDY PEDDI REDDY-6670317</h3>
    <h3>Using Monte Carlo Method used for determine the risks for certain Trading Signals</h3>
<form action="#" method="post">
   Minhist <input type="number" id="m" size="6" name="m"><br>Please Enter Minimum history Value<br>
   Number of Shots<input type="number" id="s" size="6" name="s"><br>Please Enter Number Shots<br>
    Buy/Sell<input type="number" id="bs" size="6" name="bs"><br>
    <h4>Please Enter For "Buy" Value is "1"; Sell Value is "0"</h4><br>
    <button class="btn btn-success" id="bt" >Charts & Audit</button>
    <input type="submit" name='cancel' value="Cancel" onclick="window.location='/'; return false;" />
    <br><br>

</form>
                                                                                                                                                                                                                                 </form>

</body>

</html>